<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="/styles/style.css">
  <script src='main.js'></script>
</head>
<body class="flex justify-center items-center m-auto h-screen">
  <div class="flex items-center justify-center">
    <form action="/search" method="post" class="flex w-[300px] md:w-[600px] h-12">
      <input id="input-map" name="ipInput" type="text" placeholder="Search for any IP adress or domain" value="" class="px-6 w-10/12 rounded-s-xl">
      <button type="submit" class="btn bg-black flex items-center w-2/12 rounded-e-xl justify-center">
        <img src="/images/icon-arrow.svg" alt="icon-arrow">
      </button>
    </form>
  </div>
</body>
</html>